<div [formGroup]="formGroup" class="space-y-4">
  <div class="grid grid-cols-2 gap-3">
    <div class="flex flex-col gap-1.5">
      <label class="text-[11px] font-bold text-gray-400 uppercase tracking-wider px-1"
        >Долей (N)</label
      >
      <input
        [formControlName]="formFields.n"
        type="number"
        min="2"
        max="10"
        class="w-full bg-gray-50 border border-gray-200 text-sm rounded-xl focus:ring-2 focus:ring-blue-500/20 block p-2.5 outline-none transition-all"
        [class.border-red-500]="formGroup.get(formFields.n)?.hasError('max')"
      />
      @if (formGroup.get(formFields.n)?.hasError('max')) {
        <span class="text-[10px] text-red-500">Максимум 10 долей</span>
      }
    </div>

    <div class="flex flex-col gap-1.5">
      <label class="text-[11px] font-bold text-gray-400 uppercase tracking-wider px-1"
        >Порог (K)</label
      >
      <input
        [formControlName]="formFields.k"
        type="number"
        [max]="formGroup.get(formFields.n)?.value || 10"
        min="2"
        class="w-full bg-gray-50 border border-gray-200 text-sm rounded-xl focus:ring-2 focus:ring-blue-500/20 block p-2.5 outline-none transition-all"
        [class.border-red-300]="formGroup.hasError('kGreaterThanN')"
      />
    </div>
  </div>

  @if (formGroup.hasError('kGreaterThanN')) {
    <p class="text-[10px] text-red-500 mt-1 animate-in fade-in">
      Порог K не может превышать количество долей N ({{ formGroup.get(formFields.n)?.value }})
    </p>
  }

  <label class="relative inline-flex items-center cursor-pointer group select-none">
    <input type="checkbox" [formControlName]="formFields.isColored" class="sr-only peer" />
    <div
      class="w-9 h-5 bg-gray-200 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-blue-600"
    ></div>
    <span class="ml-3 text-sm font-medium text-gray-600 group-hover:text-gray-900 transition-colors"
      >Цветной режим</span
    >
  </label>
</div>
